html{ margin: 0; padding: 0;}
body{
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    background-color: #fcfbfb;
}
#dlogo {
  
  width: 600px;
  height: 250px;
  margin-top: 200px;
  margin-left: 500px;
}
#wrapper{
  width: 98%;
    min-height: 600px;
    padding:4px;
    margin: 0 auto;
    background-color: #EFE7DA;
}

#header{
    width: 98%;
    height: 40px;
    margin: 0 auto;
}
#menu{
    height: 24px;
    width: 98%;
}
#second-submenu{
    
    margin-left: 220px;
    height: 24px;
    margin-top: 5px;
    width: 98%;
    position: absolute; 
}
#third-submenu{
   height: 24px;
    width: 98%;
   margin-left: 800px;
   
}
#menu a, #second-submenu a, #third-submenu a{

    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#menu a:hover, #second-submenu a:hover, #third-submenu a:hover{
    text-decoration: none;
    color: #e0c5a4;
    font-weight: bold;
}
#content{
    
    width: 96%;
    padding: 8px;
    min-height: 600px;
    margin-bottom: 50px;
    
}
#subcontent{
    width: 98%;
    padding: 4px;
    margin-bottom: 100px;
}
.move-right{
    float: right;
}
/* FORM */
.input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e2b65f;
}

#form-block {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    width: 80%;
    margin-left: 200px;

}
#form-block #form-block-half{
    width: 45%;
    float: left;
    padding: 20px;
}
#button-block{
    width: 95%;
    padding: 20px;
    text-align: right;
}
/** end */

#data-list {
  border-collapse: collapse;
  width: 50%;
  float: right;
  margin-top: 50px;
  margin-right: 300px;

}

#data-list td, #data-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data-list tr:nth-child(even){background-color: #f2f2f2;}

#data-list tr:hover {background-color: #f8f3f3;}

#data-list th {
  margin-top: 50px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#login-block{
  width: 30%;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#brand-block{
  width: 40%;
  height: 100px;
  margin: 0 auto;
  padding: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#error_notif {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  margin: 0 auto;
  z-index: 999999999;
}
.nav
{
    background: rgb(239, 241, 152);
    position: fixed;
    height: 100%;
    width: 13%;
    top: 0;
    Left: 0;
    z-index: 1;
    overflow-x:hidden;
    padding-top: 20px;
}
.nav a{

    color: rgb(7, 15, 22);
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
.nav a:hover
{
background: white;
}
h2
{
    padding: 10px 15px 10px 16px;
    color: #0a0707;
    border-bottom-style: solid;
}

.rooms
{
    background: rgb(215, 133, 103);
    width: 1000px;
    height: 700px;
    margin-left: 20%;
    padding: 4px 10px;
    color: #fff;
    display: inline-block;
}
.buttonrooms {
    margin-top: 550px;
}
.error_notif {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    margin-left: 700px;
    margin-top: 600px;
    border: 1px solid #888;
    width: 40%;
    margin: 0 auto;
    z-index: 999999999;
  }


@media screen and (max-width: 600px)
{
    .nav
    {
        padding-top: 15px;
        width: 155px;
    }
    .nav align-self {
        padding-left: 20px;
        font-size: 18px;
        font-family: Poppins, sans-serif;
    }
    .rooms
    {
        margin-left: 35px;
        font-size: 15px;
        display:inline-block;
    }
}
.download-button{
  margin-left: 1120px;


}